/* Skill item styles */


@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px); /* Adjust the distance as needed */
    }
}

/* Color styles */
/* Example color scheme */


.skill-item:hover {
    border-color: #60a5fa; /* Example color change on hover */
}
